
PyPDF2
langchain
langchain_community
faiss-cpu
sentence-transformers
matplotlib
ollama
pdfplumber
transforms
torch
torchvision
efficientnet_pytorch
torchcam
torchtext
Pillow
matplotlib
numpy
opencv-python
streamlit
transformers
pdfplumber
pathlib
